@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  \--raleway-font-family: "Raleway", sans-serif;
  \--roboto-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--roboto-font-family), var(--raleway-font-family), sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #757575;
}

ul {
  list-style-type: none;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background: #fff;
  color: black;
}

.header > a {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  text-decoration: none;
}
.header > a > span {
  color: #2196f3;
}

.links a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.header-address a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.main-section {
  background-color: #2f303a;
  margin: auto;
  width: 1600px;
  height: 600px;
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
  width: 696px;
  height: 120px;
  color: #ffffff;
}

.request-our-service-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.text-title span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.image-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.image-text span {
  font-weight: 500;
  color: #212121;
}

.our-team-section {
  background-color: #f5f4fa;
}
.footer-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-text > a {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}
.web {
  color: #2196f3;
}
.footer-text {
  background-color: #2f303a;
}

.footer-address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address > a {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.button2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  width: 120px;
  height: 38px;
  left: 614px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}
button:hover {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}
button:focus {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.image-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-image-text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
.portfolio-image-text span {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
a:hover {
  color: #2196f3;
}
a:focus {
  color: #2196f3;
}
